@import 'tailwindcss';

@layer base {
  /* perustyylit */
  html {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
    color: var(--color-stone-800);
    background-color: var(--color-stone-50);
  }
}
